<%= form_for(@innovation) do |f| %>
  <% if @innovation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@innovation.errors.count, "error") %> prohibited this innovation from being saved:</h2>

      <ul>
      <% @innovation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      We accept content licensed for use under Creative Commons Attribution 4.0 International (CC BY 4.0) http://creativecommons.org/licenses/by/4.0
    </p>
    <%= f.check_box :consented, :class => '' %> I hereby license the content submitted through this form under Attribution 4.0 International (CC BY 4.0)
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_area :abstract, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, :class => 'form-control' %>
  </div>

  <%= f.hidden_field :innovation_tags, id: "hidden-tag-field" %>


  <input id="tags">


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>

// Helper function for updating value of tags
function updateTagList(){
    var taglist = $('#tags').tagsinput('items');
    // Find hidden field
    $('#hidden-tag-field').val(taglist);
}

$('input').on('itemAdded', function() {
  updateTagList();
});

$('input').on('itemRemoved', function() {
  updateTagList();
});

$(function() {
  $("#tags").tagsinput({
    confirmKeys: [13, 9]
  })
});

$('input').ready(function() {
  $('#hidden-tag-field').val("")
  <% @innovation.tags.each do |tag| %>
    $('#tags').tagsinput('add', "<%= tag.name %>");
  <% end %>
});

</script>
