<h1>Listing Innovations</h1>

<%= form_tag "/search", method: :get, class: "navbar-form" do %>
  <div class="form-group">
    <%= text_field_tag :search %>
  </div>

  <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>

<% if !@innovations.blank? %>
  <% @innovations.each do |innovation| %>
    <div class="col-sm-4">
      <div class="panel panel-primary innovationDisplayTile">
                <div class="panel-heading"><h2 class="panel-title"><%= link_to innovation.title, innovation_path(innovation) %></h2></div>
                <div class="panel-body">
                  <p><%= innovation.abstract %></p>

                </div>
            </div>

      
    </div>
    
    
  <% end %>
<% else %>
  <p>Sorry, there were no innovations found</p>
<% end %>

<%= link_to 'New Innovation', new_innovation_path, :class => "displayOnOwnLine" %>
<%= will_paginate @innovations, :id => "paginationLinks" %>
<!-- git -->
