<!DOCTYPE html>
<html>
<head>
  <title>First to Disclose</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
    google: ['Roboto Slab', 'Roboto', 'Open Sans']
  }) %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "First to Disclose", {:controller => '/welcome', :action => 'index'}, :class => 'navbar-brand'%>
      </div>
      <div id="navbarCollapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "New Innovation",
                  {:controller => '/innovations', :action => 'new'} %></li>
          <li><%= link_to "Innovations",
                  {:controller => '/innovations', :action => 'index'} %></li>
          <li><%= link_to "FAQ",
                  {:controller => '/faq', :action => 'index'} %></li>
          <li><%= link_to "Search", search_index_path %></li>

          
        </ul>
        <div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown trigger
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    ...
  </ul>
</div>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          Welcome, <%= current_user.name %> <%= link_to "Logout", "/logout" %>
          <% else %>
          <%= link_to "Login",
              {
              :controller => '/devise/registrations',
          :action => 'edit'} %>
          <% end %>
        </ul>
      </div> 

      

<%= render "devise/login_menu" %>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <% flash.each do |key, value| %>
          <div class="flash flash-<%= key %>">
            <%= value %>
          </div>
        <% end %>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
<a class="btn btn-block btn-social btn-google-plus">
        <i class="fa fa-google"></i> Sign in with Google
      </a>

      <a class="btn btn-block btn-social btn-github">
        <i class="fa fa-github"></i> Sign in with Github
      </a>
      </div>
    </div>
  </div>

</body>
</html>
