<!DOCTYPE html>
<html>
<head>
  <title>FirsttodiscloseNet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul id="navigation">
    <li><%= link_to "Index", :controller => 'welcome', :action => 'index' %></li>
    <li><%= link_to "New Disclosure",
            :controller => 'disclosures', :action => 'new' %></li>
    <li><%= link_to "Disclosures",
            :controller => 'disclosures', :action => 'index' %></li>
    <li><%= link_to "FAQ",
            :controller => 'faq', :action => 'index' %></li>
    <!-- 
    <li>'devise/registration', :action => 'edit' </li>
    -->
    <li>
  </ul>

<%= yield %>

</body>
</html>
