<!DOCTYPE html>
<html>
<head>
  <title>First to Disclose</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
    google: ['Roboto Slab', 'Roboto', 'Open Sans']
  }) %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
	<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button> 
	<%= link_to "First to Disclose", {:controller => 'welcome', :action => 'index'}, :class => 'navbar-brand'%>
      </div>
      <div id="navbarCollapse" class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
	  <li><%= link_to "New Disclosure",
		  {:controller => 'disclosures', :action => 'new'} %></li>
	  <li><%= link_to "Disclosures",
		  {:controller => 'disclosures', :action => 'index'} %></li>
	  <li><%= link_to "FAQ",
		  {:controller => 'faq', :action => 'index'} %></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="#devise/registration:edit">Login</a></li>
	</ul>
      </div>
    </div>
  </nav> 
  <div class="container">
  	<div class="row">
  		<div class="col-md-12">
  			<%= yield %>	
  		</div>
  	</div>
  </div>



</body>
</html>
